body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
/* Header section */
main>header {
    display: flex;
    align-content: center;
    border-bottom: 5px solid #7d97ad;
    margin-bottom: 30px;
}

.portfolio-logo {
    float: left;
    width: 50%;
}

.portfolio-logo img {
    width: 100px;
    height: 100px;
}

.portfolio-title-tagline {
    width: 50%;
    float: left;
    text-align: right;
    padding: 10px 0;
    text-transform: uppercase;
}

.portfolio-title {
    font-size: 3rem;
    display: inline-block;
}

.portfolio-tagline {
    font-size: 1.5rem;
    display: inline-block;
}

/*Heroshot Section*/

.heroshot {
    margin-bottom: 25px;
}

.heroshot img {
    width: 100%;
}

/*Thumbnails Section*/

.thumbnails h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.thumbnails .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.thumbnails article {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

.thumbnails article img {
    width: 100%;
}

.thumbnails article:nth-child(2) {
    margin: 0 15px;
}

.thumbnail h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 10px 0;
}

@media screen and (max-width: 780px) {
    .portfolio-title {
        font-size: 2rem;
    }
    .portfolio-tagline {
        font-size: 1rem;
    }

    .thumbnails .container > article {
        margin-bottom: 30px;
    }

    .thumbnails h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .thumbnail h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 380px) {
    main > header {
        flex-direction: column;
    }

    .portfolio-logo,
    .portfolio-title-tagline {
        width: 100%;
        text-align: center;
    }

    .portfolio-title {
        font-size: 2rem;
    }

    .portfolio-tagline {
        font-size: 1rem;
    }

   
}